.footer{
    background-color:black;
    color: white;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;

  }
  
  .total{
    margin:auto;
  }
  .reset{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(247, 25, 92);
    color: aliceblue;
    font-family: sans-serif;
    transition: delay 0.5em;
    transition-duration: 0.3s;
  }

  .reset:hover{
    color:rgb(247, 25, 92);
    background-color: aliceblue;
  }
  
  .pay{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(25, 95, 247);
    color: aliceblue;
    font-family: sans-serif;
    text-decoration: none;
    transition: delay 0.5em;
    transition-duration: 0.3s;
  }

  .pay:hover{
    background-color: aliceblue;
    color: blue;
    /* transition-delay: 2s; */
  }